# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/out-tsc
/build/*
!/build/.gitkeep
testing/coverage/*
testing/test-report.html

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/dist
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
changelog.md
CHANGELOG.md

# e2e
/e2e/*.js
/e2e/*.map
/e2e/screenshots/*

# System Files
.DS_Store
Thumbs.db
.vscode/
yarn.lock

# developer specific settings
.npmrc
src/environments/environment.user.ts
yarn-error.log

# panel-based projects
/projects/*
src/assets/plugins/*
